*{
    margin:0;
    padding:0;

}
body,html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.media{
    display: flex;
    border: 1px solid red;
    border-radius: 20px;
    padding: 20px;
}
.img{
    border-radius: 100%;
    margin-right: 2em;
}
.text{
    color: red;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 100;
}
.list{
    display:flex;
    list-style: none;
    }
.item{
    padding:2rem;
} 
       